###############################################################################
# MISC                                                                        #
###############################################################################
*~
core
.svn/
.project
.pydevproject
.cproject

###############################################################################
# ROSBUILD                                                                    #
###############################################################################
cmake_install.cmake
build/
bin/
lib/
devel/
install/
msg_gen/
srv_gen/
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg
msg/lisp

###############################################################################
# CATKIN                                                                      #
###############################################################################
catkin/
catkin_generated/
cmake/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake 
CTestTestfile.cmake
devel/ 
Makefile
test_results/ 
gtest/
Testing/ 

###############################################################################
# Python                                                                      #
###############################################################################
*.pyc
__init__.pyc

###############################################################################
# PyCharm                                                                     #
###############################################################################
.idea/
.iml

###############################################################################
# CATKIN WORKSPACE SPECIFIC                                                   #
###############################################################################
src/CMakeLists.txt
