<library path="src">
  <class name="DecisionMakingGraph" type="rqt_decision_graph.decision_making_graph.DecisionMakingGraph" base_class_type="rqt_gui_py::Plugin">
    <description>
      Decision graph visualizer
    </description>
    <qtgui>
      <label>Decision Graph</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin to visualize a Decision Making graph.</statustip>
    </qtgui>
  </class>
</library>
